<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="shortcut icon" href="https://res.cloudinary.com/dfixksb6g/image/upload/v1615042207/mysite/Koi_transparent_hkpl17.png" type="image/x-icon" />
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/mysite.css">
    <script defer src="https://friconix.com/cdn/friconix.js"> </script>
    <style>
        .mylink span:hover {
            color: #f7941e;
        }
    </style>


</head>