<%-include('partials/head') %> 
<%-include('partials/nav') %> 
<body>
    <div class="row d-flex justify-content-center mx-auto">
        <div class="col-3"><img width="100" class="mx-auto" src="https://res.cloudinary.com/dfixksb6g/image/upload/v1615216784/mysite/Necropolis_wftxqx.png" alt=""></div>
        <div class="col-3"><img width="100" src="https://res.cloudinary.com/dfixksb6g/image/upload/v1615216779/mysite/myriad_creatures_l1xdfh.png" alt=""></div>
        <div class="col-3"><img width="100" src="https://res.cloudinary.com/dfixksb6g/image/upload/v1615216763/mysite/logo_dark_vtxxhe.png" alt=""></div>
        <div class="col-3"><img width="100" src="https://res.cloudinary.com/dfixksb6g/image/upload/v1615216626/mysite/Nassau_Buddha_2_gwicaz.png" alt=""></div>
    </div>
    <div class="row">
        <div class="col-3"><img width="100" src="https://res.cloudinary.com/dfixksb6g/image/upload/v1615216616/mysite/KING_OF_FOOLS_an3uxh.png" alt=""></div>
        <div class="col-3"><img width="100" src="https://res.cloudinary.com/dfixksb6g/image/upload/v1615216591/mysite/Ares_uizc6j.png" alt=""></div>
        <div class="col-3"><img width="100" src="https://res.cloudinary.com/dfixksb6g/image/upload/v1615216104/mysite/Desktop_pic_Rose_Samurai_Goblin_lnj1bg.png" alt=""></div>
        <div class="col-3"><img width="100" src="https://res.cloudinary.com/dfixksb6g/image/upload/v1615216091/mysite/Gold_woman_qsjbv8.png" alt=""></div>
        dafgjsjfgknskflnggnbs
        dafgjsjfgknskflnggnbsdfg
    </div>
</body>