<%-include('partials/head') %>
<%-include('partials/nav') %>


<body>

    <div class="d-flex container-fluid justify-content-end">

    </div>
    <p></p>
    <div class="d-flex">
        <img class="mx-auto" width="300"
            src="https://res.cloudinary.com/dfixksb6g/image/upload/v1615042207/mysite/Koi_transparent_hkpl17.png"
            alt=""></div>
    <div class="row container-fluid">
        <div class="col-4"></div>
        <div class="col-2 ">
            <p></p>
            <h5>Matthew Saunders </h3>
                <p></p>
                <!-- <i class="fi-xnsuxl-map-marker-solid"></i> 31 Mill Ride, Ascot: SL5 8LF <p></p> -->
                <i class="fi-xnsrxl-phone-solid" style="color: #f7941e"></i> 07850938664 <p></p>
                <i class="fi-xwsuxl-envelope-solid" style="color: #f7941e"></i> matt.jsaunds@gmail.com <p></p>
                <i class="fi-xwluxx-code" style="color: #f7941e"></i><a class="mylink"
                    href="https://mattsaundersyelpcamp.herokuapp.com"
                    style="text-decoration: none;color: black;"><span>YelpCamp Site</span></a>
                <p></p>
                <i class="fi-xnsuxl-github" style="color: #f7941e"></i><a class="mylink"
                    href="https://github.com/matt-saunders1996/YelpCamp"
                    style="text-decoration: none;color: black;"><span> YelpCamp Repo</span></a>


                <p></p>
                <br>
        </div>
        <div class="col-1 d-flex  justify-content-end">
            <div>
                <p></p>
                <h5>Skills</h5>
                <p></p>
                <p>HTML5</p>
                <p>CSS</p>
                <p>Javascript</p>

            </div>
        </div>
        <div class="col-1 d-flex  justify-content-end">
            <div>
                <p></p>
                <h5>​</h5>
                <p></p>
                <p> Node.js</p>
                <p>MongoDB</p>
                <p>Adobe Suite</p>

            </div>
        </div>


        <div class="col-4"></div>


    </div>

    <!-- MAIN TEXT -->
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h2 style="color: #f7941e;"><strong>ㅡ</strong></h5>
            <h2 style="color: #f7941e;"><strong>Welcome to my Site</strong></h5>
                <p>Here, you are seeing the early stages of growth; a dusty little seed - a subtle expansion. What it will become, who can say? For now it is a humble demonstration of coding ability, part CV, and a gateway to a more extensive project, 'YelpCamp'.</p>
                <p>As for me, I’m an inquisitive, aspiring front end developer looking to flex my newly found coding muscles and
                    leverage my life-long interests in technical and creative pursuits. </p>
                <p> In graphic design and written communication, I have two skills that harmonise well with web
                    development,
                    and give me greater scope to deal with copywriting and visual presentation.
                </p>
                <p> I can give and receive effective feedback as part of a team, and I can communicate all of this in a
                    presentable format.
                </p>
                <p> But most importantly, I have hacked this site together, and seen the ugly underbelly of the entire process of bringing a website to the world wide web!
                </p>



                <!-- Course details -->
                <p></p>
                <p>
                <h2 style="color: #f7941e;"><strong>ㅡ</strong></h2>
                </p>
                <p>
                <h5>Education</h5>
                </p>
                <p>
                <h6>Udemy / ‘The Web Developer Bootcamp’</h6>
                </p>
                <p><a class="mylink" href="https://www.udemy.com/certificate/UC-5ebe3857-6d65-496c-8b33-0c69633f634b/"
                        style="text-decoration: none;color: black;"><span>Certificate URL</span></a>
                </p>



                I have a mind to both creative and technical pursuits and web development is certainly a marriage of
                both. From creating sleek and memorable UI and UX, to ensuring things run smoothly behind the
                scenes, my
                learning has culminated in the creation of ‘Yelp Camp’, a demo website listed at the top of this
                page as a
                showcase of my coding ability.
                <br>
                <br>


                <div class="col-4"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-2">Course details:
            <ul class="list">
                <li> Creating + Deploying a Website
                </li>
                <li> Dynamic HTML
                </li>
                <li> CSS, flexbox etc.
                </li>
                <li> Javascript
                </li>
                <li> Node.js
                </li>
                <li> Creating servers
                </li>
                <li> RESTful routing
                </li>
            </ul>

        </div>
        <div class="col-2"> <br>
            <ul class="list">
                <li> MongoDB
                </li>
                <li> Mongoose + Express Technologies
                </li>
                <li> Errors + Validation
                </li>
                <li> Sessions + Cookies
                </li>
                <li> Flash
                </li>
                <li> Common Security issues (e.g. XSS)
                </li>
                <li> Deployment
                </li>
            </ul>

        </div>
        <div class="col-4"></div>
    </div>





    <!-- ㅡ

                    ㅡ
                    Work Experience


                    Bar 44 / Kitchen Porter / food prep
                    2018, Penarth

                    BBC / Floor Runner
                    2018, Penarth
                    Londis / Stockroom Worker
                    2017, Ascot

                    ㅡ
                    Interests

                    Deejaying, Graphic Design, Reading, Muay Thai Kickboxing -->
    </div>
    <div class="col-4"></div>
    </div>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"> <br>
            <p></p>
            <p>
            <h6>Plymouth University / BA (Hons) English and Creative Writing</h6>
            </p>
            <p>2014-2018, Plymouth</p>


            In this course I honed my ability to communicate effectively and concisely, presenting complex ideas
            on
            the page, and in front of people. It has tested and furthered my ability to meet deadlines, work in
            teams, provide careful feedback, and research holistically.

            <p>
                <br>
            <h6> Charters Secondary School / Secondary Education </h6>
            </p>
            <p>2007 - 2014, Sunningdale</p>
            <p>A level: English Literature (A), Mathematics (C), Physics (D)</p>
            <p>AS-level: Design and Technology: Product Design (C)</p>
            <p>GCSE: English Language (A), English Literature (B), Biology (A), Chemistry (A), Physics (B),
                Mathematics (B), Design and Technology: Graphic Products (B)</p>
        </div>
        <div class="col-4"></div>
    </div>

    <!-- ToDo -->
    <!-- <li>Resume</li>
    <li>Contact details</li>
    <li>YelpCamp link</li>
    <li>Yelpcamp code showcase</li>
    <li>colour guessing game</li>
    <li>Other course content? Museum of Candy, ToDo list?</li>
    <li>Image Gallery</li>
    <li>html adventure</li>

    changing text e.g. "i'm a ____, _____, ___" every second</li>
    infinite scroll
    sliding elements
    >personal logo -->




</body>

</html>